[run]
branch = True
source = movement_primitives
omit =
    */setup.py
    movement_primitives/plot.py
    movement_primitives/visualization.py

[report]
omit =
    movement_primitives/plot.py
    movement_primitives/visualization.py
exclude_lines =
    pragma: no cover
    def plot_*
    def _plot
    except ImportError:
