build/
/data/
/abstract-urdf-gripper/
/kuka_lbr/
/solar_panels/
/pybullet-only-arms-urdf/
/pybullet-urdf/
/hyrodyn_dev/
/media/
/tmp/
*.egg-info/
*.idea
__pycache__
*.c
*.so
.coverage
.ipynb_checkpoints/
/cover/
